body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
}

#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
    z-index: 10;
}

#controls label, #controls span {
    margin-left: 10px;
    margin-right: 5px;
}

#visualizationContainer {
    width: 100vw;
    height: 100vh;
}